################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ApiTest/obj
/TestsCompaign/bin/Debug/net5.0
/TestsCompaign/obj
/ApiTest/bin/Debug/net5.0
